<div class="container-sm">
    <div class="card mt-5">
        <div class="card-header bg-dark text-info">
            <h5>{{title}}</h5>
        </div>
        <div class="card-body">{{bodyText}}</div>
        <br>
        <form (ngSubmit)="onSubmit(login)" #login="ngForm" class="form-horizontal">
            <div class="form-group form-row justify-content-center">
                <div class="col-10 col-md-3">
                    <label for="name" class="control-label font-weight-bold">User Name</label>
                </div>
                <div class="col-10 col-md-5">
                    <input type="text" class="form-control" name="name" required #name="ngModel"
                        [(ngModel)]="login.username">
                    <div *ngIf="!name.valid && name.touched" class="error">Username is required</div>
                    <!--class="alert alert-danger"-->
                </div>
            </div>
            <div class="form-group form-row justify-content-center">
                <div class="col-10 col-md-3">
                    <label for="password" class="control-label font-weight-bold">Password</label>
                </div>
                <div class="col-10 col-md-5">
                    <input type="password" class="form-control" name="password" required #pword="ngModel"
                        [(ngModel)]="login.password">
                    <div *ngIf="!pword.valid && pword.touched" class="error">Password is required</div>
                    <!--class="alert alert-danger"-->
                </div>
            </div>
            <div *ngIf="submitted && !isAuthenticated" class="error text-center">Invalid Credentials!</div>
            <br />

            <div class="form-group form-row justify-content-center">
                <div class="col-2">
                    <button [disabled]="!login.valid" type="submit" class="btn btn-info">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>